@page "/List"
@using FailDaysClientApp.Models
@using System.Diagnostics

<Container Fluid="true">
    <DataGrid TItem="Student"
              ShowPager="true"
              PageSize="6"
              ShowPageSizes="false"
              Responsive="true"
              Data="students"
              SelectedRowChanged="ChangeStudentDetails"
              DetailRowTrigger="@((item)=>item.MatNr == selectedStudent?.MatNr)"              
              Filterable="true">
        <DetailRowTemplate>
            <nav>
                
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true">Profil</a>
                    <a class="nav-item nav-link" id="nav-grades-tab" data-toggle="tab" href="#nav-grades" role="tab" aria-controls="nav-grades" aria-selected="false">Noten</a>
                    <a class="nav-item nav-link" id="nav-projects-tab" data-toggle="tab" href="#nav-projects" role="tab" aria-controls="nav-projects" aria-selected="false">Projekte</a>
                    <a class="nav-item nav-link" id="nav-participation-tab" data-toggle="tab" href="#nav-participation" role="tab" aria-controls="nav-participation" aria-selected="false">Mitarbeit</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">@selectedStudent.FirstName</h5>
                            <p class="card-text">@selectedStudent.FirstName @selectedStudent.LastName (@selectedStudent.MatNr)</p>
                            <span class="badge badge-pill badge-primary" size="100px">Durchschnittsnote: @selectedStudent.AverageGrade</span>
                        </div>
                        <div class="card-footer text-muted">
                            <span class="badge badge-pill badge-secondary">Faildays übrig: 5</span>
                            <span class="badge badge-pill badge-info">Teams: 3</span>
                            <span class="badge badge-pill badge-primary">Aktive Mitarbeiten: 13</span>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-grades" role="tabpanel" aria-labelledby="nav-grades-tab">
                    <div class="card text-center">
                        <div class="card-body">
                            @if (currentStudentGrades != null)
                            {
                                foreach (Grade grade in currentStudentGrades)
                                {
                                    <Row Margin="Margin.Is1.FromBottom">
                                        <CustomDropdown CurrentGrade="@grade"
                                                        OnValueChangedCallback="@(e => Callback(e.Value, currentStudentGrades.IndexOf(grade)))">
                                            
                                        </CustomDropdown>
                                    </Row>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-projects" role="tabpanel" aria-labelledby="nav-projects-tab">
                    Test 3
                </div>
                <div class="tab-pane fade" id="nav-participation" role="tabpanel" aria-labelledby="nav-participation-tab">
                    Test 3
                </div>
            </div>
        </DetailRowTemplate>
        <DataGridColumns>
            <DataGridColumn TItem="Student" Field="@nameof(Student.MatNr)" Caption="Matrikelnr." Sortable="true"/>
            <DataGridColumn TItem="Student" Field="@nameof(Student.FirstName)" Caption="Vorname" Editable="true"/>
            <DataGridColumn TItem="Student" Field="@nameof(Student.LastName)" Caption="Nachname" Editable="true"/>
            <DataGridColumn TItem="Student" Field="@nameof(Student.CourseId)" Caption="Kurs" Editable="true"/>
        </DataGridColumns>
    </DataGrid>
</Container>

@code{

    /*
    string selectedTab = "home";

    private void OnSelectedTabChanged(string name)
    {
        selectedTab = name;
    }*/
    
    

    

}

